@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Heebo:wght@900&family=Raleway:wght@300&display=swap');
body{
    /* background-color: salmon; */
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    height: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
}